body {
    font-family: Arial;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#container {
    width: 350px;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 10px;
}

#newTask {
    width: 95%;
    padding: 8px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete {
    border: 2px solid red;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}