#tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

#tabs .whiteborder {
    border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;
}

#tabs .tabContent {
    width: 300px;
    height: auto;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

#tabs .show {
    display: block;
}

#tabs .hide {
    display: none;
}

#block {
    width: 150px;
    height: 150px;
    background: lightgreen;
    margin-top: 15px;
}

.z-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

#z_back {
    width: 120px;
    height: 120px;
    background: #86b7ff;
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: 0;
}

#z_front {
    width: 120px;
    height: 120px;
    background: #ffa07a;
    position: absolute;
    left: 60px;
    top: 60px;
    z-index: 0;
}

.flex_parent {
    display: flex;
    gap: 10px;
    width: 100%;
    background: #eee;
    padding: 10px;
}

.flex_item {
    width: 50px;
    height: 50px;
    background: #ffcc66;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
    height: 90px;
    margin-top: 10px;
}

